@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  border: 1px solid black;
}
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 200px;
  height: 250px;
  transition: 0.5s ease all;
  -webkit-transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
  -ms-transition: 0.5s ease all;
  -o-transition: 0.5s ease all;
}

img.imageCharacters {
  width: 42px;
  height: 65px;
}

#computer1 {
  fill: white;
}

.custom-loader {
  width: 100px;
  height: 100px;
  display: grid;
  animation: s4 8s infinite;
}
.custom-loader::before,
.custom-loader::after {
  content: "";
  grid-area: 1/1;
  border: 16px solid;
  border-radius: 50%;
  border-color: #1c6dd0 #1c6dd0 #0000 #0000;
  mix-blend-mode: darken;
  animation: s4 2s infinite linear;
}
.custom-loader::after {
  border-color: #0000 #0000 #e4e4ed #e4e4ed;
  animation-direction: reverse;
}

@keyframes s4 {
  100% {
    transform: rotate(1turn);
  }
}
